* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --coor-light: #f4f4f4;
    --color-dark: #333
    --color-orange: #ff6600
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100dvh;
}

.hero {
    height: 100dvh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,1)), url(../Projeto-HD/images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .header-hero{
        background-color: aqua;
        h1{
            color: antiquewhite;
        }
    }
}
